#logo1 {
    margin-left: 50px;
}


#nav {
    background-color: rgb(182, 178, 178);
}

#libd {
    border-right: 1px solid rgb(23, 82, 170);

}

#libd:hover {
    color: orange;
    background-color: black;
    border-right: 2px solid orange;
    border-left: 2px solid orange;

}

ul li.active {
    background-color: orange;
    font-weight: bold;

}

body {
    background-color: black;
}

#cards {
    background-color: black;
    color: black;
}

#h1 {
    color: aliceblue;
}

#hr1 {
    color: aliceblue;
}

#card {

    color: aliceblue;
    background-color: black;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

#sbtn {
    color: orange;
    border-color: orange;
}

#ft {
   
background-color: gray;

}

#ft2 {
    color: gray;
    background-color:black;
    padding-top: 10px;
}

#footer {
   
    background-color: gray;    
    color: black;
    display: flex;
    justify-content: space-around;

}
#img1 {
    
    transition: all 0.5s 0.5s ease-in-out;
}

#img1:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.DAB{
    transition: all 0.5s 0.5s ease-in-out;
    cursor: pointer;
}
.DAB:hover{
transform: scale(1.1);
}

#maps{
    height: 350px;
    width: 400px;
    padding-top: 25px;
}


#video1{
    height: 500px;
    width: 750px;
    margin-left: 300px;
  
    margin-top: 70px;
}